body{
  padding: 60px;
}
.row {
  display: table;
  width: 100%; /*Optional*/
  table-layout: fixed; /*Optional*/
  border-spacing: 10px; /*Optional*/
}
.column {
  display: table-cell;
}
.grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card{
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  width: 20%;

}
.card p{
  padding: 5px;
  text-align: center;
}
.card img{
  /* max-height: 170px; */
  position:relative;
  top:0px;
  margin-left:0px;
  margin-right: 0px;
  width:200px;
  height:260px;
  display:block;
  z-index:999;
}
.card img:hover{
  transform: scale(1.7);
}
